@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ikota+Web');

/* ===========
basics
============= */
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    background: #fff;
    font-size: 16.5px;
    line-height: 1.6em;
}

html {
    width: 100%;
    height: 100%;
}

label,
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: #6a6e75;
  font-size: inherit;
  line-height: inherit;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

/* ===========
layout
============= */
#wrapper.boxed {
    margin: 0 auto;
    background-color: #fff;
    
}
@media (max-width: 767px) {
    #wrapper.boxed {
        width: 100%;
    }
}
@media (min-width: 768px) {
    #wrapper.boxed {
        width: 810px;
    }
}
@media (min-width: 992px) {
    #wrapper.boxed {
        width: 1030px;
    }
}
@media (min-width: 1200px) {
    #wrapper.boxed {
        width: 1230px;
    }
}

/* ===========
typography
============= */

h1 {
    font-size: 38px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 20px;
}

h1, h2,
h3, h4,
h5, h6 {
    margin: 0 0 40px;
    font-family: 'Ikota Web', sans-serif;
    font-weight: 100;
    color: #444;
    line-height: 1.1em;
}

p {
    margin: 0 0 20px;
}

a {
    color: #666;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* ===========
navbar
============= */

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);  

}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

/* ===========
misc elements
============= */
hr {
  border-top: 1px solid #fafafa;
}

hr.bold {
  border-top: 3px solid #eee;
}

.copy-left {
    display: inline-block;
    text-align: right; 
    margin: 0px; 
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1); 
    filter: FlipH; 
    -ms-filter: “FlipH”; }

} 

/* ===========================
--- intro
============================ */

.intro {
    width:100%;
    position:relative;
}

.intro-content {
    padding:60px 0 60px;
}

.intro-content.intro-nobg {
    background:#fff;
    position:relative;
    margin:0;
    padding:140px 0 60px;
}

.intro-content .slogan h2 {
    margin-bottom: 30px;
}

/* ===========================
--- social
============================ */

a.github:hover {
    color:#000000
}

a.google:hover {
    color:#4885ED
}

a.twitter:hover {
    color:#0084FF
}

a.orcid:hover {
    color:#A6CE39
}

a.resgate:hover {
    color:#00CCBB
}

.collapse-container > :nth-child(even) {
  display: none;
  padding-left: 0.5rem;
    
}

/* ===================================
publications
==================================== */
.pub-content {
    padding:60px 0 60px;
}

.pub-content {
    background:#fff;
    position:relative;
    margin-left:60px;
    margin-right: 60px;
    padding:40px 60px 0px 0px;
}

.pub-content h4 {
    margin-bottom: 10px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.table > tbody > tr > td {
    font-size: 16px;
    vertical-align: middle;
}

/* ===================================
media queries
==================================== */

@media (min-width: 768px) and (max-width: 979px) {

    .intro-content {
        padding:80px 0 0;
    }

    .pub-content{
        padding:80px 0 0;
    }
}

@media (max-width:767px) {

    .intro-content .slogan {
        text-align: center;
        margin-top: 30px;
    }
    .pub-content{
        margin-top:30px;
    }

    ul.social {
        text-align: center;
    }

}

@media (max-width:480px) {

    .intro-content .slogan {
        text-align: center;
        margin-top: 30px;
    }

    .pub-content {
        margin-top: 30px;
    }

}

@media (max-width:320px) {
    
    .intro-content {
        padding:60px 0 0;
    }

    .pub-content {
        padding:60px 0 0;
    }
}